name: CI Logic
on:
  workflow_call:
    inputs:
      node-version:
        type: string
        default: '20.x'
    # Important: Re-add the secret declarations here so the runner knows to expect them

jobs:
  run-ci:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production
    defaults:
      run:
        working-directory: server
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'npm'
          cache-dependency-path: 'server/package-lock.json'

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build --if-present

      - name: Run Tests
        run: npm run test

      - name: Check The Environment Variable
        run: echo "NODE_ENV is $NODE_ENV"
